@import "./utility/utils.scss";

@function pattern($n) {
  @return repeating-linear-gradient($n * 1deg, transparent, transparent 10px, rgb(17, 17, 17) 15px, rgb(17, 17, 17) 120px);
}

@keyframes gradient-animation-1 {
  0% {
    left: 0%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes gradient-animation-2 {
  0% {
    right: 0%;
  }
  50% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

body {
  width: 100vw;
  height: 100vh;
  color: $text-dark;
  font-family: Arial, sans-serif;

  overflow-y: hidden;
  overflow-x: hidden;
  background-image: radial-gradient(ellipse at center, rgb(48, 0, 102) 0%, rgb(72, 0, 155) 100%);

  &:before {
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 200%;
    height: 100%;
    background: pattern(45);
    animation: gradient-animation-1 120s linear infinite;
  }

  &:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    right: 0;
    background: pattern(-45);
    animation: gradient-animation-2 120s linear infinite;
  }

  #root {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    z-index: 1;
  }
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio {
  padding: 4rem 4rem 0;
  width: 90rem;
  height: 100%;
  display: flex;
  gap: 4rem;
  aside {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1px solid $electric-violet;
    width: 40rem;
    height: fit-content;
    padding: 4rem;
    border-radius: 1rem;
    background-color: $bg-dark;
    box-shadow: $shadow;
  }

  .portfolio__main {
    height: 100%;
    width: 100%;
    h2 {
      color: $electric-violet-light;
      font-size: 1.5rem;
    }
  }
}

footer {
  text-align: center;

  &__text {
    color: $text-dark;
  }
}
